<!DOCTYPE html>
<html>
  <head>
    <title>Orders</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/js/select2.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row mt-5">
          <div class="col-md-8 offset-md-2"> 
          <%= render 'partials/header' %>
            <% if flash[:notice] %>
              <p class="alert alert-success"><%= flash[:notice] %></p>
            <% end %>
            <% if flash[:alert] %>
              <p class="alert alert-danger"><%= flash[:alert] %></p>
            <% end %>
            <%= yield %>
          </div>
      </div>
    </div>
  </body>
</html>
